@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 5px white;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
  color: white;
  font-family:"Poppins";
}
body {
  background-color:#1E1E1E;
}

h1 {
  color: white;
  text-align: center;
  font-family:"Poppins";
}

p {
  font-family: "Poppins";
  font-size: 20px;
  color: white;
}
img {
  border-radius: 8px;
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family:"Poppins";
}
ol {
	font-family:"Poppins";
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
